<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>A B O U T</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css" />
    <link rel="stylesheet" href="../assets/css/mdb.min.css" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="../favicon.png"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Navigation -->
    <nav class="bc navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">R E S T O R A T I O</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home">H O M E</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/team">T E A M</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/about">A B O U T&nbsp;&nbsp;U S
                <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Header - set the background image for the header in the line below -->
    <header class="py-5 bg-image-full-about" style="background-image: url('../images/bottom.jpg');">
      <img class="img-fluid d-block mx-auto" src="../images/logo_restoratio_white.svg" alt="">
    </header>
    <!-- Content section -->
    <section class="containerr">
      <div class="container">
        <h1>A B O U T</h1>
        <p class="lead">We are a heterogeneous team of entrepreneurship students from Spain, France, Italy and Germany, with backgrounds in Business, Engineering, Design and web development.</p>
        <p>We came up with the idea of Restoratio idea while during our entrepreneurship studies in Berlin, when dealing with the reasons of failure and success of restaurants. During a hackathon in the Silicon Valley, we had the possibility to develop the platform together with 42 coding school students.
        Working with the 42 students, we became a team of 9 from 7 different countries, with different stories, characters and backgrounds united in the goal of enabling restaurants to integrate real time customer feedback in their decision making processes.</p>
      </div>
    </section>
    <!-- Image Section - set the background image for the header in the line below -->
    <section class="py-5 bg-image-full-about" style="background-image: url('../images/top.jpg');">
      <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
      <div style="height: 200px;"></div>
    </section>
    <!-- Content section -->
    <section class="containerr">
      <div class="container">
        <h1>M I S S I O N</h1>
        <p> Restoratio provides a series of tools integrated into a dashboard to help restaurant owners and managers analysing online reviews about their activities, to facilitate the process of taking business decisions in order to improve the service delivered to customers.</p><br/>
        <h1>V I S I O N</h1>
        <p> We aim to make of Restoratio an essential tool for every restaurant owner and manager aiming to increase customer experience as a performance driver.</p><br/>
      </div>
    </section>
    <!-- Footer -->
    <footer class="containerr bg-inverse">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>
</body>
