<head>
<meta charset="UTF-8">
<meta name="viewpoint" content="width=device-width, initial-scale=1.0">
<title>R A T I O</title>
<link rel="stylesheet" href="../assets/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="../assets/css/style.css" type="text/css" />
<link rel="stylesheet" href="../assets/css/style1.css" type="text/css" />
<link rel="stylesheet" href="../assets/css/mdb.min.css" type="text/css" />
<link rel="shortcut icon" type="image/png" href="../favicon.png"/>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</head>
<body>
<!-- Navigation -->
<nav class="bc navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
<div class="container">
<a class="navbar-brand" href="#">R E S T O R A T I O</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarResponsive">
<ul class="navbar-nav ml-auto">
<li class="nav-item active">
<a class="nav-link" href="/home">H O M E
<span class="sr-only">(current)</span>
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/team">T E A M</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/about">A B O U T&nbsp;&nbsp;U S</a>
</li>
</ul>
</div>
</div>
</nav>

<div class ="py-5"></div>
<div class="py-5">
<div class="container-fluid" id="mainContentContainer">
<div class="row" id="mainContent">
 <div class="col-md-4 col-panel col-element-1"><h2><b>TRENDS</b></h2>
                    <div class="roww brad-override"><br/>
                        <ul>
                            <p>
                              <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
                              <canvas id="myChart" width="300" height="100"></canvas>
                              <canvas id="myChart2" width="300" height="100"></canvas>
                              <canvas id="myRadarChart" width="300" height="100"></canvas>
                              <script>
                                var month_avg_data = [0,0,0,0,0,0,0,0,0,0,0,0];
                                var m_a_d;
                                var month_data_points = [0,0,0,0,0,0,0,0,0,0,0,0];
                                var m_d_p;
                                function randMonth(){
                                  return(Math.floor(Math.random() * 12));
                                }
                                <% data.reviews.forEach(function(val) { %>
                                    var rand = randMonth()
                                    month_data_points[rand] += 1;
                                    month_avg_data[rand] += <%=val.rating_individual%>;
                                <% }); %>
                                m_a_d = month_avg_data.slice(0,month_avg_data.length);
                                m_d_p = month_data_points.slice(0,month_data_points.length);
                                month_avg_data.forEach(function(val, index, array)
                                {
                                    if (month_data_points[index] != 0)
                                        array[index] = (Math.round((array[index] * 100) / month_data_points[index]) / 100);
                                });
                                var ctx1 = document.getElementById("myChart");
                                var myChart = new Chart(ctx1, {
                                    type: 'line',
                                    data: {
                                        labels: ["JAN", "FEB", "MAR", "APR", "MAY","JUN","JUL","AUG","SEPT","OCT","NOV","DEC"],
                                        datasets: [{
                                            label: "Monthly AVG Rating",
                                            borderColor: "rgba(1,100,100, .2)",
                                            backgroundColor: "rgba(1,100,100, .2)",
                                            data: month_avg_data
                                        }]
                                    }
                                });
                                // graph 2
                                for (var i = 1; i < 12; i++)
                                {
                                    m_a_d[i] += m_a_d[i - 1];
                                    m_d_p[i] += m_d_p[i - 1]
                                }
                                m_a_d.forEach(function(val, index, array)
                                {
                                    if (m_d_p[index] != 0)
                                        array[index] = (Math.round((array[index] * 100) / m_d_p[index]) / 100);
                                });
                                var ctx2 = document.getElementById("myChart2");
                                var myChart = new Chart(ctx2, {
                                    type: 'line',
                                    data: {
                                        labels: ["JAN", "FEB", "MAR", "APR", "MAY","JUN","JUL","AUG","SEPT","OCT","NOV","DEC"],
                                        datasets: [{
                                            label: "Change of total rating over year",
                                            borderColor: "rgba( 81, 45, 168, .2)",
                                            backgroundColor: "rgba( 81, 45, 168, .2)",
                                            data: m_a_d
                                        }]
                                    }
                                });
                                // graph 3
                                var ctx3 = document.getElementById("myRadarChart");
                                var DataData = {
                                  labels: ["1", "2", "3", "4", "5"],
                                  datasets: [{
                                    label: "2016",
                                    backgroundColor: "rgba(200,0,0,0.2)",
                                    data: [80, 123, 100, 120, 150]
                                  },
                                    {
                                    label: "2017",
                                    backgroundColor: "rgba(63, 127, 191, .1)",
                                    data: [20, 300, 200, 12, 15]
                                  }]
                                };
                                var radarChart = new Chart(ctx3, {
                                  type: 'radar',
                                  data: DataData
                                });
                              </script>
                            </p>
                        </ul>
                    </div>
                </div>

<div class="col-md-4 col-panel col-element-2"><h2><b>NEWS</b></h2>
<div class="roww"><br/>
<div class="container">
<ul class="timeline">
<li>
<div class="timeline-badge info"><i class="fa fa-twitter"></i></div>
<div class="timeline-panel">
<div class="timeline-heading">
<h4 class="timeline-title">New review</h4>
<small class="text-muted"><i class="fa fa-time"></i> 1 hours ago via Twitter</small>
<p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.</p><br/>
</div>
<div class="timeline-body">
<h4 class="timeline-title">New review</h4>
<small class="text-muted"><i class="fa fa-time"></i> 3 hours ago via Facebook</small>
<p> Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p><br/>
</div>
</div>
</li>
<li>
<div class="timeline-badge info"><i class="fa fa-twitter"></i></div>
<div class="timeline-panel">
<div class="timeline-heading">
<h4 class="timeline-title">New review</h4>
<small class="text-muted"><i class="fa fa-time"></i> 7 hours ago via Instagram</small>
<p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá, depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.</p><br/>
</div>
<div class="timeline-body">
<h4 class="timeline-title">New review</h4>
<small class="text-muted"><i class="fa fa-time"></i> 12 hours ago via TripAdvisor</small>
<p> Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p><br/>
</div>
</div>
</li>
</ul>
</div>
</div>
</div>

<div class="col-md-4 col-panel col-element-3"><h2><b>RATINGS</b></h2>
<div class="roww"><br/>
<ul>
<li><h4>Twitter</h4><div class="stars">
<img src="images/star.png" class="img-thumbnail" width="12%" height="12%">
<img src="images/star.png" class="img-thumbnail" width="12%" height="12%">
<img src="images/star.png" class="img-thumbnail" width="12%" height="12%">
<img src="images/star.png" class="img-thumbnail" width="12%" height="12%">
<h6>250 reviews</h6>
</div></li>
<li><h4>Facebook</h4><div class="stars">
<img src="images/star.png" class="img-thumbnail" width="12%" height="12%">
<img src="images/star.png" class="img-thumbnail" width="12%" height="12%">
<img src="images/star.png" class="img-thumbnail" width="12%" height="12%">
<h6>648 reviews</h6>
</div></li>
<li><h4>Instagram</h4><div class="stars">
<img src="images/star.png" class="img-thumbnail" width="12%" height="12%">
<img src="images/star.png" class="img-thumbnail" width="12%" height="12%">
<img src="images/star.png" class="img-thumbnail" width="12%" height="12%">
<img src="images/star.png" class="img-thumbnail" width="12%" height="12%">
<img src="images/star.png" class="img-thumbnail" width="12%" height="12%">
<h6>27 reviews</h6>
</div></li>
</ul>
</div>

</div>
</div>
</div>
</div>

<!-- Footer -->
<footer class="py-5">
<div id="footer">
<p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
</div>
<!-- /.container -->
</footer>

</body>
